
.footer--bg{
    background-color: inherit;
}


.footer--content--container{
    
    padding: 120px;
    margin: 0 100px;
    border-radius: 30px;
    background-color: white;

    display: flex;
    gap:40px;
    
}


